
HW2_output/HW2\.R
HW4_output/Code trash bin\.txt
HW4_output/Greene-Chapter-11\.pdf
HW4_output/HW4\.Rmd

HW5_output/Tutorial_0411\[7381\]\.do

HW5_output/HW4\.pdf

HW5_output/HW3\.pdf

HW5_output/HW2\.pdf

HW3_output/New Text Document\.txt
